@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.footer{
    width: 100vw;
    display: block;
    overflow: hidden;
    padding: 70px 0;
    font-family: 'Inter', sans-serif;
    box-sizing:border-box;
    background-color: #C8B9B9;
}

.footer_container{
    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 100%;
}

.footer_container .logo_container{
    width: 35%;
    float: left;
    height: 100%;
    display: block;
}

.footer_container .logo_container img{
    width: 210px;
    height: auto;
    left: 20px;
}

.footer_container .footercolumns{
    width: calc(21.66666667% - 20px);
    margin-right: 10px;
    float: left;
    height: 100%;
}

.footer_container .footercolumns:last-child{
    margin-right: 0;
}

.footer_container .footercolumns h1{
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    color: #795548;
    display: block;
    width: 100%;
    margin-bottom: 20px;

}

.footer_container .footercolumns a{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    /*color: #795548;*/
    color: black;

    display: block;
    width: 100%;
    margin-bottom: 20px;
    font-weight: 200;
    width: 100%;
    padding-bottom: 5px;

}





